.name {
	font-family:"Helvetica";
}

.content{
	width:400px;
	height:200px;
	margin:20px;
}

.caption{
	margin-left: 10px;
	float: left;
}

.image{
	float:left;
}

#container {
	position:relative;
	width:100%;
}

#headerContainer {
	margin:auto;
	width:500px;
	height:10px;
}

#header {
	float:left;
	font-size:30px;
	margin:20px;
}

#melinda{
	float:left;
}

#contents{
	float:left;
	margin-left:30px;
}

#aboutme {
	margin:auto;
	width:500px;
}